/* ------------------- HEADER ------------------------ */

.address-list {
  display: flex;
  gap: 40px;
}
/* ------------------- HERO------------------------ */
.hero-title {
  max-width: 1440px;
  height: 600px;
  padding: 188px 0;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-title {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office2x.jpg);
  }
}

/* ------------------- FEATURES ------------------------ */

.item-pre::before {
  display: block;
  content: "";
  width: 264px;
  height: 112px;

  background: #f4f4fd;
  border-radius: 4px;
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.icon-antena::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagrama::before {
  background-image: url(../images/diagrama.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.section .item-pre {
  width: 264px;
}

.section-link {
  font-weight: 400;
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
/* ------------------- CONT  ------------------------ */
.section-cont {
  padding-top: 0;
}
.section-cont-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-title-color);
  margin-bottom: 72px;
}

.list-cont {
  display: flex;
  gap: 24px;
}
/* -------------------PORTFOLIO ----------------------- */
.section-pre {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-pre-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
/* .section-portfolio .section-list-item + .section-list-item { */
  /* gap: 24px; */
  
/* } */
.gallery-text {
  position: absolute;
  width: 360px;
  height: 300px;
  top: 0;
  padding: 40px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 300ms linear opacity 300ms linear;
}
.section-list-item {
  margin-bottom: 48px;
  background: var(--main-text-color);
  width: 360px;
  height: auto;
}
/* ------------------- FOOTER  ------------------------ */
.cont-logo {
  margin-right: 120px;
}
.footer-social {
  margin-right: auto;
}
